@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1000px) {

    main {
        flex-direction: column;
    }

    h1 {
        font-size: 20pt;
        text-align: center;
    }

    img {
        display: none;
    }

    div#direita {
        width: 300px;
        height: 50vh;
        margin-top: 20px;
    }

    form {
        margin-left: 15px;
    }

    input {
        display: block;
        width: 250px;
    }

    input[type="button"] {
        margin-left: 10px;
        margin-top: 40px;
    }
}